Flask
requests
python-dotenv
APScheduler

# Official Google Generative AI client
google-generativeai

# Gateway bot and voice
discord.py[voice]==2.6.4
discord-ext-voice-recv
PyNaCl
SpeechRecognition
gTTS
piper-tts
aiohttp
groq
